<center>

  <div class="container">
    <div class="connexion">
      <div class="label_mail">

        <%= f.text_field :title, placeholder: "Entrer votre votre email" %>
        <%= f.password_field :title, placeholder: "Entrer votre password" %>

      </div>

      <div class="">
        <%= f.submit "Connexion" %> <br>
        <%= f.submit "Sign up" %>
      </div>

    </div>

  </div>
</center>
